<div class="hero">
  <div class="container">
      <div class="row">
          <div class="hero-heading">
             Que trabajito quieres que se realice mamita? </br>
                      Los especialistas estan en Sixerrdos
                      <p>Busca. Contrata. Hecho.</p>

                    </div>
                       <div class="row">
                         <div class="col-md-offset-3 col-md-6">
                           <form>
                             <div class="input-group input-group-lg">
                               <input type="text" class="form-control" placeholder="Que profesional buscabas?">
                               <span class="input-group-btn">
                                 <button class="btn btn-default" type="button">
                                   Encuentra servicios ofrecidos
                                 </button>
                               </span>
                             </div>
                           </form>
          </div>
     </div>
  </div>
</div>





<div class="container section">
  <h1>
    Nuevos trabajitos
  </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="gig-card">
        <%= image_tag 'face.jpg' %>
        <h4>
          Le voy a dejar la casa que brilla
        </h4>
        <h3>
          $6
        </h3>


      </div>
     </div>
        <div class="row">
           <div class="col-md-3">
             <div class="gig-card">
               <%= image_tag 'nuevoalbañil.jpg' %>
               <h4>
                 Le reformo el baño
               </h4>
               <h3>
                 $6
               </h3>
             </div>
           </div>
           <div class="row">
             <div class="col-md-3">
               <div class="gig-card">
                 <%= image_tag 'cuidadoras.jpg' %>
                 <h4>
                   Yo cuido sus niños
                 </h4>
                 <h3>
                   $6
                 </h3>
               </div>
             </div>
             <div class="row">
               <div class="col-md-3">
                 <div class="gig-card">
                   <%= image_tag 'jardineria.jpg' %>
                   <h4>
                     Yo le arreglo el jardin
                   </h4>
                   <h3>
                     $6
                   </h3>
                 </div>
               </div>
       </div>
     </div>
